<% if design_counter % 3 == 0 %>
  <div class="row">
<% end %>

<%= content_tag :div, class: 'col-md-4' do %>
  <%= link_to(
          image_tag(
              design.variants.first.variant_swatch_images.first.file.url(:large),
              width: 350,
              height: 350
          ),
          design_path(design)
      )
  %>
  <p><%= link_to(design.name, design_path(design)) %></p>
<% end %>

<% if design_counter % 3 == 2 || design_counter + 1 == @collection.designs.count %>
  </div>
<% end %>
