<% content_for :title, 'Collections' %>

<h1>Collections</h1>

<%= paginate @collections %>
<%= content_tag :div, class: 'collection-index' do %>
  <%= render partial: 'collection', collection: @collections %>
<% end %>
<%= paginate @collections %>
