<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_product_type_path(@product_type), 'details', current %>
  <%= subnav_link 'Images', 'picture', admin_product_type_product_type_images_path(@product_type), 'images', current %>
</div>
