<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_substrate_path(@substrate), 'details', current %>
  <%#= subnav_link 'Images', 'picture', admin_variant_variant_images_path(@variant), 'images', current %>
</div>
