<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_substrate_path(@substrate), 'details', current %>
  <%#= subnav_link 'Categories', 'folder-open', admin_substrate_substrate_categories_path(@substrate), 'categories', current %>
</div>
