<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_substrate_path(@substrate), 'details', current %>
  <%= subnav_link 'Descriptions', 'comment', admin_substrate_descriptions_path(@substrate), 'descriptions', current %>
  <%= subnav_link 'Print Images', 'picture', admin_substrate_substrate_print_images_path(@substrate), 'print_images', current %>
  <%= subnav_link 'Texture Images', 'picture', admin_substrate_substrate_texture_images_path(@substrate), 'texture_images', current %>
</div>
