<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_substrate_path(@substrate), 'details', current %>
  <%= subnav_link 'Images', 'picture', admin_substrate_substrate_images_path(@substrate), 'images', current %>
</div>
