div.page-header {
    overflow: auto;
}

div.page-header h1 {
    font-size: 2em;
}

div.page-header .header-right {
    margin-top: 25px;
    text-align: right;
}

td.actions {
    text-align: right;
}

div.form-group div.image {
    margin-bottom: 10px;
}

.checkbox-inline label {
    font-weight: 400;
}
