div.sidebar {
    top: 29px;
}

div.sidebar div#sidebar-menu div.nav-sidebar > a {
    text-transform: uppercase;
}

div.page-header {
    overflow: auto;
}

div.page-header h1 {
    font-size: 1.5em;
}

div.page-header .header-right {
    margin-top: 15px;
    text-align: right;
}

td.move-handle {
    width: 60px;
}

td.actions {
    text-align: right;
    min-width: 120px;
}

div.form-group div.image {
    margin-bottom: 10px;
}

.checkbox-inline label {
    font-weight: 400;
}



.ui-autocomplete {
    list-style: none;
    padding: 0;
}

.ui-autocomplete li {
    margin: 6px 0;
}

.ui-autocomplete li {
    padding-left: 1em;
}

/*.ui-helper-hidden-accessible {*/
    /*display: none;*/
/*}*/

div.form-actions > button {
    margin-right: 10px;
}
