<div class="list-group">
  <%= link_to 'Details', edit_admin_design_variant_path(@design, @variant), { class: current == 'details' ? 'list-group-item active' : 'list-group-item' } %>
  <%= link_to 'Images', admin_variant_variant_images_path(@variant), { class: current == 'images' ? 'list-group-item active' : 'list-group-item' } %>
</div>
