<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_design_variant_path(@design, @variant), 'details', current %>
  <%= subnav_link 'Images', 'picture', admin_variant_variant_images_path(@variant), 'images', current %>
  <%= subnav_link 'Tearsheet', 'save-file', admin_variant_tearsheet_path(@variant), 'tearsheet', current %>
</div>
