<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_design_variant_path(@design, @variant), 'details', current %>
  <%= subnav_link 'Images', 'film', admin_variant_variant_images_path(@variant), 'images', current %>
</div>
