<p id="notice"><%= notice %></p>

<p>
  <strong>Design:</strong>
  <%= @design_alias.design_id %>
</p>

<%= link_to 'Edit', edit_design_alias_path(@design_alias) %> |
<%= link_to 'Back', design_aliases_path %>
