<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_collection_path(@collection), 'details', current %>
  <%#= subnav_link 'Images', 'picture', admin_collection_collection_images_path(@collection), 'images', current %>
  <%= subnav_link 'Designs', 'tasks', admin_collection_designs_path(@collection), 'designs', current %>
  <%= subnav_link 'Design Aliases', 'tasks', admin_collection_design_aliases_path(@collection), 'design_aliases', current %>
  <%= subnav_link 'Subcollections', 'paperclip', admin_collection_subcollections_path(@collection), 'subcollections', current %>
</div>
