<div class="list-group">
  <%= subnav_link 'Details', 'pencil', edit_admin_category_path(@category), 'details', current %>
  <%= subnav_link 'Images', 'picture', admin_category_category_images_path(@category), 'images', current %>
</div>
