
<h1>Your Product Data Export is Complete</h1>
<p>Product data for the collection <%= @collection.name %> has been exported to a CSV file.</p>
<p>The file can be downloaded from <a href="<%= @csv_url %>"><%= @csv_url %></a>.</p>
